div, li, a{
    box-sizing: border-box;
}
#header{
    text-align: center;
    width: 100%;
}
h1{
    font-family: helvetica;
    font-size: 4em;
    font-weight: normal;
}
h2{
    font-family: helvetica;
    font-size: 2.5em;
    font-weight: normal;
}
h3{
    font-family: helvetica;
    font-size: 2em;
    font-weight: normal;
}
h4,h5,h6{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal
}
h1, h2, h3, h4, h5, h6{
    color: #804515;
}

.bton{
   border-color:#440027;
   background-color:#440027;
   color:#fff;
   padding: 10px;
}
.shrink{
   width: 30%;
}

.itemName{
   text-align: center;
   width: 100%;
}
.price{
   text-align: center;
   font-size: 1.5em;
}
table{
   background-color:beige;
   width:75%;
   margin-left: 12.5%;
}

#props{
   text-align: center;
}

#body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1em;
    padding:0;
    margin:0;
}

p.sans-serif{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
.navfooter{
    font-size: 1em;
    background: seagreen;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    text-align: center;
    clear: both;
}
.navfooter ul{
    
}
.navfooter li {
    position: relative;
    display: inline-block;
    background: #00CAC3;
}
.navfooter a{
    display: block;
    padding: 10px;    
}
.navfooter a:hover{
    background: #2E4372;
    color: white;
}
.active{
    background: #5f2ef5;
    color: white;
}

#display:after{
    display: block;
    content: ' ';
    clear: both;
}

.images{
    width: 100%;
    padding-bottom: 5%;
    display: center;
}
