h1 {
   text-align: center;
   color: gold;
}

body {
   background-color: black;
}

#intro {
   color: white;
}

#more {
   color: white;
}

#craft {
   float: left;
   width: 32%;
   height: 32%;
}
#moon {
   float: left;
   width: 32%;
   height: 32%;
}
#t1000 {
   width: 32%;
   height: 32%;
}