h1 {
   text-align: center;
   color: gold;
}

body {
   background-color: black;
}

#intro {
   color: white;
}

#craft {
   float: left;
   width: 100px;
   height: 100px;
}
#moon {
   float: left;
   width: 100px;
   height: 100px;
}
#t1000 {
   float: left;
   width: 100px;
   height: 100px;
}